extends layout

block content
    form.col.s12(method='post')
        - for (var i = 1; i <= 2; ++i) {
        div.row
            div.input-field.col.s12
                input.validate(id="drug#{i}", placeholder="#{'the ' + i + ['st', 'nd', 'rd', 'th'][Math.min(i - 1, 3)]} drug you #{verb}", name="drugs[#{i - 1}]", type="text")
                label(for="drug#{i}") Drug #{i}
        - }
        block report
        div.row.button-row
            div.col.s5
                a#btn_add.waves-effect.waves-light.btn.full(style="padding-left: 0; padding-right: 0; white-space: nowrap") Add Drug
            div.col.s7
                button.waves-effect.waves-light.btn.full(type="submit") #{report ? 'Report' : 'Check'}
    script.
        if (!$('.menu-report').hasClass('active')) $('.menu-check').addClass('active');
        $('#btn_add').click(function () {
            index = $('form .row input.validate').length + 1;
            cloned = $('form .row:first-child').clone();
            cloned.find('input').attr("id", "drug" + index);
            cloned.find('input').attr("placeholder", 'the ' + index + ['st', 'nd', 'rd', 'th'][Math.min(index - 1, 3)] + " drug you #{verb}");
            cloned.find('input').val("")
            cloned.find('input').attr("name", "drugs[" + (index - 1) + "]")
            cloned.find('label').attr("for", "drug" + index);
            cloned.find('label').text("Drug " + index);
            $('form .row:nth-child(' + index + ')').before(cloned);
        });